<div class="w-full">
  <h1 class="text-2xl font-bold mb-6">Latest Alpha Wind Turbine Data</h1>
</div>
<div class="mb-8 w-full">
  <table class="min-w-full table-auto border-collapse bg-white shadow-md rounded-lg">
    <thead>
    <tr class="bg-gray-50 border-b">
      <th class="text-left p-4 font-sm text-gray-600">Reading #ID</th>
      <th class="text-left p-4 font-sm text-gray-600">Time</th>
      <th class="text-left p-4 font-sm text-gray-600">Temp (2m)</th>
      <th class="text-left p-4 font-sm text-gray-600">Rel Hum (2m)</th>
      <th class="text-left p-4 font-sm text-gray-600">DP (2m)</th>
      <th class="text-left p-4 font-sm text-gray-600">WS (10m)</th>
      <th class="text-left p-4 font-sm text-gray-600">WS (100m)</th>
      <th class="text-left p-4 font-sm text-gray-600">WD (10m)</th>
      <th class="text-left p-4 font-sm text-gray-600">WD (100m)</th>
      <th class="text-left p-4 font-sm text-gray-600">WG (10m)</th>
      <th class="text-left p-4 font-sm text-gray-600">Energy Produced Forecast (kWh)</th>
      <th class="text-left p-4 font-sm text-gray-600">Energy Produced (kWh)</th>
    </tr>
    </thead>
    <tbody>
    <% @wind_turbine_readings.each do |reading| %>
      <tr class="border-b">
        <td class="p-4 text-gray-800"><%= reading.id %></td>
        <td class="p-4 text-gray-800"><%= reading.time.strftime("%d-%m-%Y %H:%M") %></td>
        <td class="p-4 text-gray-800"><%= reading.temp_2m %></td>
        <td class="p-4 text-gray-800"><%= reading.relhum_2m %></td>
        <td class="p-4 text-gray-800"><%= reading.dp_2m %></td>
        <td class="p-4 text-gray-800"><%= reading.ws_10m %></td>
        <td class="p-4 text-gray-800"><%= reading.ws_100m %></td>
        <td class="p-4 text-gray-800"><%= reading.wd_10m %></td>
        <td class="p-4 text-gray-800"><%= reading.wd_100m %></td>
        <td class="p-4 text-gray-800"><%= reading.wg_10m %></td>
        <td class="p-4 text-gray-800"><%= reading.forecasted_power_output %></td>
        <td class="p-4 text-gray-800"><%= reading.actual_power_output %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

