<tr>
  <td><%= wind_turbine_reading.time.strftime("%d-%m-%Y %H:%M") %></td>
  <td><%= wind_turbine_reading.temp_2m %></td>
  <td><%= wind_turbine_reading.relhum_2m %></td>
  <td><%= wind_turbine_reading.dp_2m %></td>
  <td><%= wind_turbine_reading.ws_10m %></td>
  <td><%= wind_turbine_reading.ws_100m %></td>
  <td><%= wind_turbine_reading.wd_10m %></td>
  <td><%= wind_turbine_reading.wd_100m %></td>
  <td><%= wind_turbine_reading.wg_10m %></td>
  <td>
    <%= wind_turbine_reading.actual_power_output %>
    <%= wind_turbine_reading.forecasted_power_output ? "(#{wind_turbine_reading.forecasted_power_output } forecast )" : "" %>
  </td>
</tr>