<div class="container mx-auto my-5">
  <h3 class="font-bold mb-4">Last 3 actual readings</h3>
  <div class="overflow-x-auto">
    <table class="table table-striped table-bordered table-hover">
      <thead class="table-light">
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Temp (2m)</th>
        <th scope="col">Rel Hum (2m)</th>
        <th scope="col">DP (2m)</th>
        <th scope="col">WS (10m)</th>
        <th scope="col">WS (100m)</th>
        <th scope="col">WD (10m)</th>
        <th scope="col">WD (100m)</th>
        <th scope="col">WG (10m)</th>
        <th scope="col">Energy Produced (kWh)</th>
      </tr>
      </thead>
      <%= turbo_stream_from 'wind_turbine_readings' %>
      <tbody id="wind_turbine_readings">
        <%= render partial: 'wind_turbine_reading', collection: @wind_turbine_readings %>
      </tbody>
    </table>
  </div>

  <% @forecasted_readings.each do |reading| %>
    <div class="card">
      <h5 class="card-header">Forecast for the next hour</h5>
      <div class="card-body">
        <h5 class="card-title"><td><%= reading.time.strftime("%d-%m-%Y %H:%M") %></td></h5>

        <div class="row mb-3">
          <div class="col-md-4">
            <strong>Temp (2m):</strong> <%= reading.temp_2m %><br>
            <strong>Rel Hum (2m):</strong> <%= reading.relhum_2m %><br>
            <strong>DP (2m):</strong> <%= reading.dp_2m %><br>
          </div>
          <div class="col-md-4">
            <strong>WS (10m):</strong> <%= reading.ws_10m %><br>
            <strong>WS (100m):</strong> <%= reading.ws_100m %><br>
            <strong>WD (10m):</strong> <%= reading.wd_10m %><br>
          </div>
          <div class="col-md-4">
            <strong>WD (100m):</strong> <%= reading.wd_100m %><br>
            <strong>WG (10m):</strong> <%= reading.wg_10m %><br>
            <strong>Forecasted Energy Produced (kWh):</strong> <%= reading.forecasted_power_output %><br>
            <th scope="col"></th>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= turbo_stream_from 'future_readings' %>
  <div id="future_readings">
    <%= render partial: 'future_reading', collection: @future_readings %>
  </div>
</div>
